cache/solidity-files-cache.json
artifacts
node_modules
.todo
cache
coverage/
coverage.json
.next/trace
.DS_Store
.next/
contracts/scenario.json
accounts-ganache-cli
contracts/example.sol
.env
output/
filename.txt
nonmpnormaluser.txt
arguments.js
scripts/whitelist.js